html, body{
  margin: 0;
  width: auto;
  height: fit-content;
  overflow-x: hidden;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}


.formInput{
  width: 100%;
  padding: 10px;
  margin: 5px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.formInput:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.button{
  margin-top: 7vw;
  padding: 10px 20px;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}