#formContainer{
    height: 40vh;
    margin: 10vw;
    margin-bottom: 5vw;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formContainer .formInput {
    width: 90%;
}

#formContainer .submitButton{
    display: flex;
    justify-content: end;
    padding-right: 5%;
    padding-top: 0;
    padding-top: 2vw;
}
#registration {
    display: flex;
    justify-content: end;
    padding-right: 10vw;
}

#registration .button {
    margin-top: 0;
}