#profilePhotoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 2vw;
}

.profilePhoto{
    width: 10vw;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    box-shadow: 0 0 0 6px whitesmoke, 0 0 0 12px lightgrey;
    border-radius: 50%;
    overflow: hidden;
    padding: 2vw;
}

.alternativePhotosContainer{
    position: absolute;
    top: 40vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    margin: 10vw 0;
    gap: 5vw;
    overflow-x: auto;
    background-color: white;
}
.alternativePhotosContainer img{
    width: 5vw;
    min-width: 70px;
    max-width: 150px;
    height: 70%;
    box-shadow: none;
}


#form {
    display: flex;
    padding: 0vw 10vw;
    justify-content: flex-start;
}
