#formContainerLogin{
    height: 50vh;
    margin: 10vw;
    margin-bottom: 5vw;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#formContainerLogin .formInput {
    width: 90%;
}

.submit {
    display: flex;
    justify-content: end;
    padding-right: 5vw;

}